/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

body {
    /*padding-top: 4rem;*/
}

/*rounded buttons*/
.btn-round-lg {
    border-radius: 22.5px;
}

.btn-round {
    border-radius: 25px;
}

.btn-round-sm {
    border-radius: 15px;
}

.btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}


/*scroll menu*/
div.navbar-nav-scroll {
    overflow: auto;
    white-space: nowrap;
}

    div.navbar-nav-scroll a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
    }

/*sidebar search*/
.bd-search {
    position: relative;
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

/*sidebar menu*/
.bd-sidebar {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
}

.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}

.bd-sidebar {
    border-right: 1px solid rgba(0,0,0,.1);
}

.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

    .bd-sidebar .nav > li > a {
        display: block;
        padding: .25rem 1.5rem;
        font-size: 90%;
        color: rgba(0,0,0,.65);
    }

.bd-links {
    display: block !important;
}

.bd-links {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}

.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;
}

.bd-toc-item.active {
    margin-bottom: 1rem;
}

    .bd-toc-item.active > .bd-toc-link {
        color: rgba(0,0,0,.85);
    }

    .bd-toc-item.active > .bd-sidenav {
        display: block;
    }

.bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 500;
    color: rgba(0,0,0,.65);
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        color: rgba(255, 255, 255, .75);
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.btn-outline-toolbar {
    color: #664a46;
    background-color: #FFFFFF;
    border-color: #664A46;
}

    .btn-outline-toolbar:hover,
    .btn-outline-toolbar:focus,
    .btn-outline-toolbar:active,
    .btn-outline-toolbar.active,
    .open .dropdown-toggle.btn-outline-toolbar {
        color: #FFFFFF;
        background-color: #7b5b57;
        border-color: #7b5b57;
    }

    .btn-outline-toolbar:active,
    .btn-outline-toolbar.active,
    .open .dropdown-toggle.btn-outline-toolbar {
        background-image: none;
    }

    .btn-outline-toolbar.disabled,
    .btn-outline-toolbar[disabled],
    fieldset[disabled] .btn-outline-toolbar,
    .btn-outline-toolbar.disabled:hover,
    .btn-outline-toolbar[disabled]:hover,
    fieldset[disabled] .btn-outline-toolbar:hover,
    .btn-outline-toolbar.disabled:focus,
    .btn-outline-toolbar[disabled]:focus,
    fieldset[disabled] .btn-outline-toolbar:focus,
    .btn-outline-toolbar.disabled:active,
    .btn-outline-toolbar[disabled]:active,
    fieldset[disabled] .btn-outline-toolbar:active,
    .btn-outline-toolbar.disabled.active,
    .btn-outline-toolbar[disabled].active,
    fieldset[disabled] .btn-outline-toolbar.active {
        background-color: #FFFFFF;
        border-color: #664A46;
    }

    .btn-outline-toolbar .badge {
        color: #FFFFFF;
        background-color: #664a46;
    }
