<div class="bd-toc-item active">
    <a class="bd-toc-link" href="#">
        Empezando
    </a>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#">Biblioteca</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#">Base de conocimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#">Mapa del sitio</a>
        </li>
    </ul>
</div>

<div class="bd-toc-item active">
    <a class="bd-toc-link" href="#">PHAO</a>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#">Organismos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#">
                @Ajax.ActionLink("Panel de control", "Menu", "Home", new { @menu = "_MenuControlPanelPartial" }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = ("DivMenuManager")
                }, new { @class = "" })


            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#">Buscador</a>
        </li>
    </ul>
</div>
