<div class="nav-scroller bg-white  bg-light border-light">
    <nav class="nav nav-underline py-0" style="padding-top: 2px !important;">
        <a class="nav-link btn-round mr-2 text-dark" href="@Url.Action("Create")" role="button" style="background-color: #f3eed9 !important;">Nuevo +</a>
        <a class="nav-link btn-round mr-2 text-dark" href="#" style="background-color: #e4f0ff !important; color: #FFF;">Tipos de Organismos</a>
        <a class="nav-link btn-round mr-2 text-black-50" href="#" style="background-color: #e4edf1 !important;">Organismos</a>
        <a class="nav-link btn-round mr-2 text-black-50" href="#" style="background-color: #e4edf1 !important;">Tipos de Estados</a>
        <a class="nav-link btn-round mr-2 text-black-50" href="#" style="background-color: #e4edf1 !important;">Estados</a>
        <a class="nav-link btn-round mr-2 text-black-50" href="#" style="background-color: #e4edf1 !important;">Países </a>
        <a class="nav-link btn-round mr-2 text-black-50" href="#" style="background-color: #e4edf1 !important;">Tipos de Proyectos</a>
    </nav>
</div>
