<div class="bd-toc-item active">
    @Ajax.ActionLink("PHAO", "Menu", "Home", new { @menu = "_MenuMainPartial" }, new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = ("DivMenuManager")
    }, new { @class = "bd-toc-link text-truncate" })

    <a class="bd-toc-link" href="#">
        Panel de control
    </a>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-truncate" href="@Url.Action("Index", "TOrganismo")">Mantenimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="#">Parametros sistema</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="@Url.Action("Register", "Account")">Registrar usuario</a>
        </li>
    </ul>
</div>
